.content {
    grid-area: c;
    background-color: #fff;
    border: 1px solid #999;
    margin: 10px 0 0 10px;
}
.content img {
    max-width: 100%;
    display: block;
}
.content .avatar {
    max-width: 50%;
    display: block;
}
.item {
    color: green;
}