.content {
    display: grid;
    grid-template-areas:
            "d m";
    grid-template-columns: 3fr 7fr;
}
.pagination {
    display: flex;
    flex-flow: wrap;
    padding: 10px 0;
}
.pagination span {
    display: block;
    padding: 5px;
}
.selectedPage {
    border: 1px solid #888;
    padding: 5px;
}
.goToPage {
    padding: 5px;
}
.page {
    color: #000;
}

.user {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}
.userLeft {
    width: 15%;
    text-align: center;
}
.userLeft img {
    width: 100%;
    height: 85px;
}
.follow_unfollow {
    width: 100%;
    display: block;
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 3px;
    transition: all 0.2s;
    outline: none;
}
.follow_unfollow:hover {
    background-color: #777;
    color: #fff;
}
.userCenter h3 {
    margin-top: 0px;
}
.userCenter {
    margin-left: 20px;
    width: 60%;
}
.userRight h4 {
    margin-top: 0px;
}