header {
    grid-area: h;
    background-color: #999;
    padding: 5px 20px;
}
header img {
    max-height: 90%;
}
.login {
    float: right;
}
.login a {
    display: block;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
}
.user__info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user__info img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 20px;
    margin-right: 10px;
}