.app_wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
  "h h"
  "n c"
  "f f";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app_wrapper_content {
  grid-area: c;
  background-color: #fff;
  border: 1px solid #999;
  margin: 10px 0 0 10px;
}
