.app-wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
  "h h"
  "n c"
  "f f";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr 2fr;
}

