.content {
    display: grid;
    grid-template-areas:
            "d m";
    grid-template-columns: 3fr 7fr;
}
.dialogs {
    grid-area: d;
}
.messages {
    grid-area: m;
    display: flex;
    flex-wrap: wrap;
}
.item {
    padding: 10px;
    margin: 10px;
    display: block;
    background-color: #eee;
    text-decoration: none;
    color: #333;
}
.message {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
}
.item.active {
    background-color: gold;
}
.you_message {
    width: 70%;
    justify-content: flex-end;
    margin-left: auto;
    background-color: lightblue;
}
.other_message {
    width: 70%;
}
.content textarea {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    resize: none;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 10px 15px;
    font-family: Arial;;
}
.content *:focus {
    outline: none;
}
.content button {
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #aaa;
    background-color: #ffffff;
    color: #aaa;
    transition: all 0.2s;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 3px;
}
.content button:hover {
    background-color: gold;
    border-color: gold;
    color: #fff;
}
.new_message {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}