.nav {
    grid-area: n;
    background-color: #999;
    margin: 10px 0;
    padding: 20px;
}
.nav a {
    display: block;
    margin: 0 0 10px 0;
}
a.item {
    color: #fff;
    text-decoration: none;
}

a.item.active {
    color: gold;
}